@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.navMenu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	background: #6d412d;
}

.navMenu a {
	color: #f1f0ed;
	font-size: 20px;
	margin: 15px 5px;
	padding-bottom: 2px;
}

.navMenu a:hover {
	border-bottom: 1px solid #f1f0ed;
	animation: navMenu 3s infinite;
}

.category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #242427;
	padding: 20px 0;
	background: #f1f0ed;
}

.category h2 {
	font-size: 30px;
}

.tank {
	margin-top: 20px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2424275b;
	width: 90%;
	border-radius: 15px;
}

.tank:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tank img {
	margin-right: 15px;
	width: 320px;
	height: 220px;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: #f1f0ed;
	height: 180px;
	width: 100%;
	padding: 20px;
	background: #00000050;
	border-radius: 15px;
}

.info h2 {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.info p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

@keyframes navMenu {
	0% {
		color: #a3966f;
		border-bottom: 1px solid #a3966f;
	}

	20%,
	60%,
	100% {
		color: #f1f0ed;
		border-bottom: 1px solid #f1f0ed;
	}

	40% {
		color: #836a4c;
		border-bottom: 1px solid #836a4c;
	}

	80% {
		color: #242427;
		border-bottom: 1px solid #242427;
	}
}

@media (max-width: 930px) {
	.tank {
		flex-direction: column;
	}

	.tank img {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.info {
		height: 100%;
		width: calc(100% - 40px);
	}
}

@media (max-width: 350px) {
	.tank img {
		width: 270px;
		height: 170px;
	}
}
